body{
    margin: 0;
    padding: 0;
    border: 0;
}

/*------- HEADER ---------*/

.zoomOuter{
    width: 100%;
    height: 750px;
    overflow: hidden;
}
.zoomInner{
    width: 100%;
    height: 100%;
    background-image: url("./images/pc\ color.jpg");
    background-position: center;
    background-size: cover;
    transition: transform ease 0.3s;
}
.zoomInner:hover{
    transform: scale(1.2);
}

.en-tête{
    position: absolute;
    top: 65%;
    left: 53%;
    z-index: 99;
    transform: translate(-50%, -50%);
    color: white;
    background-color: #1c0e284b;
    padding: 19px;
    border-radius: 8px;
    text-shadow: 0 0 8px #212529;
}

h1{
    text-align: center;
}

#effet a:hover { 
    color: #BC02C4;
    transition: all 0.1s;     
}

.navbar-brand {
    text-decoration: none;
    position: relative;
}

.navbar-brand::before, .navbar-brand::after {
    z-index: 99;
    content: "";
    position: absolute;
    height: 2px; 
    opacity: 0;
    left: 50%;
    transform: translate(-50%, 5px);
    transition: all 0.2s ease-in-out;
}

.navbar-brand::before {
    width: 90%;
    bottom: 0;
}

.navbar-brand::after {
    width: 60%;
    bottom: -5px;
}

.navbar-brand:hover::before, .navbar-brand:hover::after {
    opacity: 1;
    transform: translate(-50%, -5px);
    background-color: #BC02C4;
}

.navbar-brand::before, .navbar-brand:hover::after {
    transition-delay: 0.1s;
}

.navbar-brand:hover::before {
    transition: 0s;

}

/*-------- MAIN -----------------*/
.profil{
    display: flex;
    align-items: center;
    justify-content: center;
}
.img-avatar{
    border-radius: 40%;
}
.me{
    text-align: center;
}
.text-me, .myButton{
    margin-top: 20%;
    margin-left: 20%;
}

/*--- Bouton CV ---*/

.myButton {
	box-shadow:inset 0px 1px 0px 0px #fb7bff;
	background:linear-gradient(to bottom, #f83bff 5%, #BC02C4 100%);
	background-color:#f83bff;
	border-radius:6px;
	border:1px solid #cd02d4;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:30px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #a302a8;
}
.myButton:hover {
	background:linear-gradient(to bottom, #BC02C4 5%, #f83bff);
	background-color:#BC02C4;
}
.myButton:active {
	position:relative;
	top:1px;
}

/*---------- section ------------*/
.section-title {
    text-align: center;
    padding-bottom: 40px;
}

.outer-container-2 {
    max-width: 1200px;
    margin: auto;
}

section {
    padding: 80px 0px 60px 0px;
}

section.grey {
    background-color: #EBEBEB;
}

/*-------------- Compétences -----------------*/

.outer-container{
    justify-content: space-between;
    padding: 40px;
    width: 100%;
    height: 80%;
}
.outer-container-1{
    justify-content: space-between;
    padding: 40px;
    width: 100%;
    height: 80%;
}
/*-- colorbar --*/
.bg-html{
    background-color: #E44D26;
}
.bg-css{
    background-color: #379AD6;
}
.bg-js{
    background-color: #F7DF1E;
}
.bg-bootstrap{
    background-color: #5B4083;
}
.bg-gimp{
    background-color: #4B4537;
}
.bg-windows{
    background-color: #0177DB;
}


/*----------------- start portfolio -----------------------------------*/

.card-folio{
    width: 284px;
    padding: 10px 10px 20px 10px;
    border: 1px solid #BFBFBF;
    background-color: white;
    box-shadow: 10px 10px 5px #aaaaaa;
}
/*----------------- end portfolio -----------------------------------*/

/* CONTACT */

.contact-subtitle, .qualif {
    text-align: center;
    margin: 10px 0px 70px;
    line-height: 50px;
}

.space-between{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.contact-box {
    width: 24%;
    text-align: center;
    padding: 30px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
}

.contact-box .text {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 20px;
}

.phone {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #EFE5F3;
    color: #9B59B6;
}

.email {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #E0EFF9;
    color: #e20b0b;
}

.meet {
    background-color: #DFF7E9;
    color: #2ECC71;
    line-height: 25px;
}
.meet p {
    color: #707070;
    padding-top: 20px;
    line-height: 23px;
}
.reseau {
    background-color: #E0EFF9;
    color: #3498DB;
}

/*------------ end contact -------------------------*/